extends ../layout/index

block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center Grupo
            span.font-normal Inmobiliario
        h2.text-center.text-2xl.font-extrabold=pagina
        

        .mt-8.mx-auto.max-w-md
            .bg-blue-100.py-8.px-4.shadow-xl.rounded-lg
                form.space-y-5
                    div
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold(for="email") Email de Registro:
                        input#email.w-full.px-3.py-2.border.border-gray-400.rounded-md.placeholder-gray-600.text-center(placeholder="Ej: juanp10@hotmail.com" type="email" name="email")

                    div.flex.items-center.justify-between
                        a.text-gray-500.text-sm(href="/auth/login") Ya tienes cuenta? Inicia Sesión
                        a.text-gray-500.text-sm(href="/auth/registro") No tienes cuenta? Crea una

                    input(class="w-full bg-indigo-500 hover:bg-indigo-700 text-white font-bold cursor-pointer py-2 rounded-md" type="submit" value="Enviar Instrucciones")
