header.bg-indigo-600.p-4.px-10
        .container.mx-auto.flex.justify-between.items-center
            a(href="/") 
                h1.text-2xl.text-white.font-extrabold.text-center Toluca
                    span.font-normal GrupoInmobiliario
            
            nav(class="my-5 text-sm md:flex md:items-center md:gap-10 font-bold text-white hidden")
                a(href="/auth/registro") Crear Cuenta
                a(href="/auth/login") Iniciar Sesión
                
div(class=" py-5 hidden lg:block")
    div(class="container mx-auto flex justify-between px-10")
        nav(class="flex gap-4 items-center")
            a(href="/categorias/1" class="text-sm font-bold p-2 rounded-lg duration-500 uppercase text-indigo-500 hover:text-white hover:bg-indigo-500") Casas  
            a(href="/categorias/2" class="text-sm font-bold p-2 rounded-lg duration-500 uppercase text-indigo-500 hover:text-white hover:bg-indigo-500") Departamentos
            a(href="/categorias/3" class="text-sm font-bold p-2 rounded-lg duration-500 uppercase text-indigo-500 hover:text-white hover:bg-indigo-500") Bodegas
            a(href="/categorias/4" class="text-sm font-bold p-2 rounded-lg duration-500 uppercase text-indigo-500 hover:text-white hover:bg-indigo-500") Terrenos
            a(href="/categorias/5" class="text-sm font-bold p-2 rounded-lg duration-500 uppercase text-indigo-500 hover:text-white hover:bg-indigo-500") Oficinas
            a(href="/categorias/6" class="text-sm font-bold p-2 rounded-lg duration-500 uppercase text-indigo-500 hover:text-white hover:bg-indigo-500") Locales
        form(action="/buscador" method="POST" class="flex gap-3 items-center")
            input(type="hidden" name="_csrf" value=csrfToken)
            label(for="termino" class="text-sm uppercase font-bold text-indigo-500") Busqueda
            input(type="text" id="termino" name="termino" placeholder="Buscar Propiedades" class="p-2 rounded-lg shadow-2xl text-sm")
            input(type="submit" class="bg-indigo-600 hover:bg-indigo-400 rounded-lg text-white uppercase font-bold p-2 cursor-pointer text-sm" value="Buscar")